// card (post)
.d-card
  .d-card__head
    .d-card__user
      .d-card__user-avatar
        img(src="img/suggestionCard-avatar-1.jpg" srcset='img/suggestionCard-avatar-1@2x.jpg 2x')
      .d-card__user-info
        .d-card__user-name Bryan Garza
        .d-card__user-position Job Title/Artist Name.
  
  .d-card__content
    
  
  .d-card__actions
    .d-card__like.is-active
      +icon('ico-like')
      span 1k
      
    .d-card__share
      +icon('ico-share')
      span 56
      
    .d-card__repost
      +icon('ico-repost')
  
  .d-card__comments
    .d-card__comments-head
      .d-card__comments-toggle(js-toggle-comments)
        .d-card__comments-text
          +icon('ico-comment')
          span 9 comments
        .d-card__comments-arrow
          +icon('ico-select-down')
    
    // comment
    .d-card__comments-drop
      .d-card__comment
        .d-card__comment-avatar
          img(src="img/suggestionCard-avatar-3.jpg" srcset='img/suggestionCard-avatar-3@2x.jpg 2x')
        .d-card__comment-content
          .d-card__comment-author Devin Richardson
          .d-card__comment-text
            p Very Nice!
        .d-card__comment-date
          span 1 day ago
      // comment
      .d-card__comment
        .d-card__comment-avatar
          img(src="img/suggestionCard-avatar-1.jpg" srcset='img/suggestionCard-avatar-1@2x.jpg 2x')
        .d-card__comment-content
          .d-card__comment-author Marcus Cobb
          .d-card__comment-text
            p The 11-minute opener begins well enough, with bass thumps building a trance beneath paranormal EQs as White-Gluz’s vocals 
        .d-card__comment-date
          span 1 day ago
      // comment
      .d-card__comment
        .d-card__comment-avatar
          img(src="img/suggestionCard-avatar-2.jpg" srcset='img/suggestionCard-avatar-2@2x.jpg 2x')
        .d-card__comment-content
          .d-card__comment-author Clifford Rowe
          .d-card__comment-text
            p nice work, congrats
        .d-card__comment-date
          span 1 day ago
      // comment
      .d-card__comment
        .d-card__comment-avatar
          img(src="img/suggestionCard-avatar-4.jpg" srcset='img/suggestionCard-avatar-4@2x.jpg 2x')
        .d-card__comment-content
          .d-card__comment-author Marcus Cobb
          .d-card__comment-text
            p The only song that makes effective use of White-Gluz’s and Kember’s complementary skills is “Triangle Probably.”
        .d-card__comment-date
          span 1 day ago  
    
    // add comment
    .d-card__reply
      .d-card__comment-avatar
        img(src="img/suggestionCard-avatar-2.jpg" srcset='img/suggestionCard-avatar-2@2x.jpg 2x')
      textarea(name="d-reply" placeholder="Write a comment")
      
