// buttons
button
  -webkit-apperance: none
  border: 0
  box-shadow: none
  cursor: pointer
  &:focus
    outline: none

.btn
  display: inline-block
  position: relative
  text-align: center
  transition: all $transitionSpeed ease-in-out
  &:focus, &:active
    outline: none
  &--block
    display: block
    width: 100%

  &-primary
    font-weight: 500
    font-size: 16px
    line-height: 2
    box-shadow: 0 4px 11px 0 rgba(0,0,0,0.12)
    border-radius: 45px
    padding: 8px 50px
    min-width: 166px
    &--red
      background: $colorRed
      color: white
      &:hover
        background: $colorAqua
        color: white
    &--white
      background: white
      color: $colorAqua
      &:hover
        background: $fontColor
        color: white

    &:hover
      box-shadow: 0 7px 20px 0 rgba(0,0,0,0.15)

    .ico, .icon
      position: absolute
      top: 50%
      right: 20px
      font-size: 12px
      transform: translateY(-50%)

  &-more
    font-weight: 500
    font-size: 14px
    line-height: 2
    border-radius: 45px
    padding: 8px 50px
    min-width: 166px
    background: white
    color: $colorRed
    &:hover
      background: $colorRed
      color: white

  &-social
    background: white
    display: flex
    align-items: center
    border-radius: 30px
    padding: 15px 20px
    span
      display: inline-block
      margin-left: 7px
      span
        margin-left: 0
        +r($mobile)
          display: none
    .ico
      &-social-fb
        font-size: 14px
      &-social-tw
        font-size: 12px
      &-social-glus
        font-size: 15px
    &--fb
      color: #4867AA
    &--tw
      color: #1CA1F3
    &--gplus
      color: #EA4336
    &:hover
      &.btn-social
        color: white
        &--fb
          background: #4867AA
        &--tw
          background: #1CA1F3
        &--gplus
          background: #EA4336
