.info__bg
  .info__bg-wrapper
    include ../../../inline-svg/info-promo-bg.svg
.container.container--wide
  .info__wrapper
    .info__content.info__content--align-left.info__content--align-center-mobile.info__content--left-pad.wow(data-animation-class="wowFadeRight")
      h2.heading.c-aqua Join  the  revolution
      .info__text.info__text--full
        p Sign  up  to  be  part  of  the  BETA  launch  now.  The  first1000  members  get  a  lifetime  founders  badge  andaccess  to  Cosound  events  worldwide
        .info__cta
          a(href="signup.html").btn.btn-primary.btn-primary--wider.btn-primary--red
            span Join Betta
    .info__image.wow(data-animation-class="wowFadeRight" data-animation-delay=".5s")
      .info__image-mask
        img(src='img/promoImage_1.jpg' srcset='img/promoImage_1@2x.jpg 2x')
