.ito-brands.ito-brands--white
  .page-bg
    .page-bg__wrapper
      include ../../../inline-svg/ito-brands-bg.svg
  .container.container--extra
    .ito-brands__title.wow Brand  Partnerships
    .ito-brands__wrapper(js-watch-flex-wrap)
      .ito-brands__el.wow(data-animation-delay=".1s")
        i.icon.icon-brand-paypal
      .ito-brands__el.wow(data-animation-delay=".2s")
        i.icon.icon-brand-visa
      .ito-brands__el.wow(data-animation-delay=".3s")
        i.icon.icon-brand-stripe
      .ito-brands__el.wow(data-animation-delay=".4s")
        i.icon.icon-brand-dropbox
      .ito-brands__el.wow(data-animation-delay=".5s")
        i.icon.icon-brand-slack
