.ito-testimonials__slider(js-ito-testimonials-slider).swiper-container
  .swiper-wrapper
    .ito-testimonials__slide
      .container.container--extra
        .ito-testimonial__quotemark
          +icon('ico-quotemark')
        .ito-testimonial
          .ito-testimonial__avatar.avatar.avatar--big
            img(src='img/avatar-1.jpg' srcset='img/avatar-1@2x.jpg 2x')
          .ito-testimonial__credentials
            .ito-testimonial__name Mike  James
            .ito-testimonial__position New York
          .ito-testimonial__content
            p «Nam sed est enim. Fusce aliquam est ut mauris congue, sed auctor odio sollicitudin. Morbi dictum sem a nulla tempor mattis. Morbi consectetur mollis finibus. In hac habitasse platea dictumst. Nam lobortis felis eu ex ornare rutrum. Suspendisse potenti. Sed sodales velit at diam faucibus»
      
        .ito-testimonial-after
          .ito-testimonial__content(js-populateContent-ito-after)
            // will be poplated from next card content
            //- p «Nam sed est enim. Fusce aliquam est ut mauris congue, sed auctor odio sollicitudin. Morbi dictum sem a nulla tempor mattis. Morbi consectetur mollis finibus. In hac habitasse platea dictumst. Nam lobortis felis eu ex ornare rutrum. Suspendisse potenti. Sed sodales velit at diam faucibus»
    
    // slide  
    .ito-testimonials__slide
      .container.container--extra
        .ito-testimonial__quotemark
          +icon('ico-quotemark')
        .ito-testimonial
          .ito-testimonial__avatar.avatar.avatar--big
            img(src='img/avatar-1.jpg' srcset='img/avatar-1@2x.jpg 2x')
          .ito-testimonial__credentials
            .ito-testimonial__name Mike  James
            .ito-testimonial__position New York
          .ito-testimonial__content
            p Congue, sed auctor odio sollicitudin. Morbi dictum sem a nulla tempor mattis. Morbi consectetur mollis finibus. In hac habitasse platea dictumst. Nam lobortis felis eu ex ornare rutrum. Suspendisse potenti. Sed sodales velit at diam faucibus»
      
        .ito-testimonial-before
          .ito-testimonial__content(js-populateContent-ito-before)
            //- p «Nam sed est enim. Fusce aliquam est ut mauris congue, sed auctor odio sollicitudin. Morbi dictum sem a nulla tempor mattis. Morbi consectetur mollis finibus. In hac habitasse platea dictumst. Nam lobortis felis eu ex ornare rutrum. Suspendisse potenti. Sed sodales velit at diam faucibus»
        .ito-testimonial-after
          .ito-testimonial__content(js-populateContent-ito-after)
            //- p «Nam sed est enim. Fusce aliquam est ut mauris congue, sed auctor odio sollicitudin. Morbi dictum sem a nulla tempor mattis. Morbi consectetur mollis finibus. In hac habitasse platea dictumst. Nam lobortis felis eu ex ornare rutrum. Suspendisse potenti. Sed sodales velit at diam faucibus»
    
    // slide
    .ito-testimonials__slide
      .container.container--extra
        .ito-testimonial__quotemark
          +icon('ico-quotemark')
        .ito-testimonial
          .ito-testimonial__avatar.avatar.avatar--big
            img(src='img/avatar-1.jpg' srcset='img/avatar-1@2x.jpg 2x')
          .ito-testimonial__credentials
            .ito-testimonial__name Mike  James
            .ito-testimonial__position New York
          .ito-testimonial__content
            p «Nam sed est enim. Fusce aliquam est ut mauris congue, sed auctor odio sollicitudin. Morbi dictum sem a nulla tempor mattis. Morbi consectetur mollis finibus. In hac habitasse platea dictumst. 

        .ito-testimonial-before
          .ito-testimonial__content(js-populateContent-ito-before)
            //- p «Nam sed est enim. Fusce aliquam est ut mauris congue, sed auctor odio sollicitudin. Morbi dictum sem a nulla tempor mattis. Morbi consectetur mollis finibus. In hac habitasse platea dictumst. Nam lobortis felis eu ex ornare rutrum. Suspendisse potenti. Sed sodales velit at diam faucibus»
        
        
  .swiper-pagination
