.header__actions
  .header__actions-item
    a(href="market.html")
      +icon('ico-case')
  .header__actions-item
    a(href="messages.html")
      +icon('ico-comments')
  .header__actions-item
    a(href="#")
      +icon('ico-profile')
  .header__actions-item
    a(href="#" js-header-notifications).header__notifications.has-notifications
      +icon('ico-notifications')
      span.header__notifications-mark
  .header__actions-item
    a(href="cart.html").header__cart
      +icon('ico-cart')
      .header__cart-num
        span 4
