.mobile-navi__profile
  .mobile-navi__profile-mage
    .avatar.avatar--big
      img(src='img/avatar-1.jpg' srcset='img/avatar-1@2x.jpg 2x')
  a(href="plans.html").mobile-navi__profile-status
    span Premium
  .mobile-navi__profile-name Benjamin Rees
    
ul.mobile-navi__menu.mobile-navi__menu--dash
  li
    a(href="#")
      .mobile-navi__menu-icon
        +icon('ico-case')
      span Market
      
  li
    a(href="#") 
      .mobile-navi__menu-icon
        +icon('ico-comments')
      span Messages  
      .mobile-navi__menu-counter 
        span 3
  li
    a(href="#")
      .mobile-navi__menu-icon
        +icon('ico-profile')
      span Profile 
  li
    a(href="#")
      .mobile-navi__menu-icon
        +icon('ico-notifications')
      span Notifications 
      .mobile-navi__menu-counter 
        span 9+
  li
    a(href="#")
      .mobile-navi__menu-icon
        +icon('ico-cart')
      span Cart 
      .mobile-navi__menu-counter 
        span 2
