// HEADER :: START
header.header.header--dash.js-should-scroll
  .header__wrapper.wow(data-animation-class="wowFadeDown")
    a(href="homepage.html").header__logo
      +icon('ico-logo')
    
    include _search
      
    include _actions
    
    //- .header__premium
    //-   a(href="plans.html") Premium
    
    include _user
    
    .header__hamburger
      .hamburger.hamburger--squeeze(js-hamburger)
        .hamburger-box
          .hamburger-inner
            
// HEADER :: END


// MOBILE NAV
.mobile-navi.mobile-navi--fixed
  .mobile-navi__wrapper(js-scrollbar)
    include _search
    
    include _dash-mobileMenu
      

include ../_notifications
