// FOOTER :: START
footer.footer(js-reveal-footer)
  .container
    .footer__wrapper
      .footer__top
        .footer__logo
          +icon('ico-logo')
        .footer__socials
          a(href="#")
            +icon('ico-social-fb')
          a(href="#")
            +icon('ico-social-insta')
          a(href="#")
            +icon('ico-social-soundcloud')
      
      .footer__main
        .footer__info
          p Adipiscing bibendum est ultricies integer quis auctor. Enim praesent elementum facilisis leo vel. Pellentesque sit amet porttitor eget dolor morbi non arcu risus. Amet est placerat in egestas erat imperdiet. Nisl nisi scelerisque eu ultrices vitae
          .footer__copy (c) elit. Nulla 2018
        .footer__nav
          .footer__nav-col
            .footer__nav-title Footer menu 1
            a(href="#") Option One
            a(href="#") Option two
            a(href="#") Option three
            a(href="#") Option four
            a(href="#") Option Five
          .footer__nav-col
            .footer__nav-title Footer menu 2
            a(href="#") Option One
            a(href="#") Option two
            a(href="#") Option three
            a(href="#") Option four
            a(href="#") Option Five
          .footer__nav-col
            .footer__nav-title Footer menu 3
            a(href="#") Option One
            a(href="#") Option two
            a(href="#") Option three
            a(href="#") Option four
            a(href="#") Option Five
            
  
// FOOTER :: END
