// FOOTER :: START
footer.footer.footer--mini
  .footer__wrapper
    .footer__top
      .footer__copy (c) elit. Nulla 2018
      .footer__socials
        a(href="#")
          +icon('ico-social-fb')
        a(href="#")
          +icon('ico-social-insta')
        a(href="#")
          +icon('ico-social-soundcloud')
      
  
// FOOTER :: END
