// HEADER :: START
header.header
  .header__wrapper.wow(data-animation-class="wowFadeDown")
    a(href="homepage.html").header__logo
      +icon('ico-logo')
    ul.header__menu
      li
        a(href="#") about us. 
      li
        a(href="#") lorem ipsum. 
      li
        a(href="#") lorem ipsum. 
        
    .header__hamburger
      .hamburger.hamburger--squeeze(js-hamburger)
        .hamburger-box
          .hamburger-inner
        
// HEADER :: END
