// HEADER :: START
header.header
  .header__wrapper.wow(data-animation-class="wowFadeDown")
    a(href="homepage.html").header__logo
      +icon('ico-logo')
    .header__info
      span Don’t have an account?
      a(href="#") Get Started!
