// HEADER :: START
header.header.header--dash.header--bg.js-should-scroll
  .header__wrapper.wow(data-animation-class="wowFadeDown")
    a(href="homepage.html").header__logo
      +icon('ico-logo')
    .header__search
      .header__search-input
        input(name="search" type="text" placeholder="Search.." js-header-search)
        +icon('ico-search')
      .header__search-drop(js-header-searchResults)
        li
          a(href="#") Music
        li
          a(href="#") Music Lounge
        li
          a(href="#") Music Rock
        li
          a(href="#") Music Listen
        li
          a(href="#") Music
        li
          a(href="#") Music Lounge
        .header__search-no-results No results found for <span>qqq</span> query
    .header__actions
      .header__actions-item
        a(href="#")
          +icon('ico-case')
      .header__actions-item
        a(href="#")
          +icon('ico-comments')
      .header__actions-item
        a(href="#")
          +icon('ico-profile')
      .header__actions-item
        a(href="#").header__notifications.has-notifications(js-header-notifications)
          +icon('ico-notifications')
          span.header__notifications-mark
      .header__actions-item
        a(href="#").header__cart
          +icon('ico-cart')
          .header__cart-num
            span 4
    .header__premium
      a(href="plans.html") Premium
      
    .header__hamburger
      .hamburger.hamburger--squeeze(js-hamburger)
        .hamburger-box
          .hamburger-inner
            
// HEADER :: END


// MOBILE NAV
.mobile-navi
  .mobile-navi__wrapper
    .header__search
      .header__search-input
        input(name="search" type="text" placeholder="Search.." js-header-search)
        +icon('ico-search')
      .header__search-drop(js-header-searchResults)
        li
          a(href="#") Music
        li
          a(href="#") Music Lounge
        li
          a(href="#") Music Rock
        li
          a(href="#") Music Listen
        li
          a(href="#") Music
        li
          a(href="#") Music Lounge
        .header__search-no-results No results found for <span>qqq</span> query
    ul.mobile-navi__menu
      li
        a(href="#") about us. 
      li
        a(href="#") lorem ipsum. 
      li
        a(href="#") lorem ipsum. 


include _notifications
