.plans__grid
  //col
  .plans__col.wow
    .plan-card(js-plan data-target="1")
      .plan-card__icon
        i.icon.icon-signup-type-musician
      .plan-card__name Artists
      .plan-card__desc
        p 
          | Sit amet, consectetur adipisic
          br
          | Ut enim ad minim veniam
          br
          | Aliquip ex ea commodo consequat
      .plan-card__cta
        a(href="#").btn.btn-plan
          span Select plan
  //col
  .plans__col.wow(data-animation-delay=".4s")
    .plan-card(js-plan data-target="2")
      .plan-card__icon
        i.icon.icon-signup-type-band
      .plan-card__name Band
      .plan-card__desc
        p 
          | Sit amet, consectetur adipisic
          br
          | Ut enim ad minim veniam
          br
          | Aliquip ex ea commodo consequat
      .plan-card__cta
        // .btn-plan--violet
        a(href="#").btn.btn-plan
          span Select plan
  //col
  .plans__col.wow(data-animation-delay=".5s")
    .plan-card(js-plan data-target="3")
      .plan-card__icon
        i.icon.icon-signup-type-pro
      .plan-card__name Proffessional
      .plan-card__desc
        p 
          | Sit amet, consectetur adipisic
          br
          | Ut enim ad minim veniam
          br
          | Aliquip ex ea commodo consequat
      .plan-card__cta
        a(href="#").btn.btn-plan
          span Select plan
