a(href="signup.html").signup-step
  .signup-step__progress
  span Choose location
a(href="signup-2.html").signup-step
  .signup-step__progress
  span Profession
a(href="signup-3.html").signup-step
  .signup-step__progress
  span Tell us more
//- a(href="signup-4.html").signup-step
//-   .signup-step__progress
//-   span Bio
a(href="signup-5.html").signup-step
  .signup-step__progress
  span Meet the Music
