---
title: Promo page
---
extends shared/_layout

block footer
  include components/_footer-full
  
block content
  
  // HERO
  .hero.hero--promo
    .promo-bg
      .promo-bg__wrapper
        include ../inline-svg/hero-bg-promo.svg
        img(src='img/itoPreBg.jpg' srcset='img/itoPreBg@2x.jpg 2x')
    .container
      .hero__wrapper
        .hero__logo.wow(data-animation-class="wowFadeDown" data-animation-delay=".3s")
          +icon('ico-logo')
        .hero__text.wow(data-animation-delay=".5s")
          p Join  the  revolution.  Be  part  of  the  community  of  sound.
        .hero__ito-pre.wow(data-animation-delay=".75s")
          form.ito-pre-email(action="#" js-validate-pre-ito)
            input(type="text" placeholder="Email  Address" js-add-focus-parent)
            button(type="submit").btn.btn-primary.btn-primary--aqua Join us
          a(href="#").btn.btn-primary.btn-primary.btn-primary--red
            span More info
          
        
  // INFO
  .info
    .info__bg
      .info__bg-wrapper
        //- include ../inline-svg/info-promo-bg.svg
    .container
      .info__wrapper
        .info__content.wow(data-animation-class="wowFadeRight")
          h2.heading.c-aqua Music  is  the  great  uniter
          .info__text
            p Sign  up  to  be  part  of  the  BETA  launch  now.  The  first1000  members  get  a  lifetime  founders  badge  andaccess  to  Cosound  events  worldwide 
            .info__cta
              a(href="signup.html").btn.btn-primary.btn-primary--wider.btn-primary--red
                span Get Started
        .info__image.wow(data-animation-class="wowFadeRight" data-animation-delay=".5s")
          .info__image-mask
            img(src='img/promoImage_1.jpg' srcset='img/promoImage_1@2x.jpg 2x')


  // ITO members
  .ito-members
    .container.container--extra
      .ito-members__wrapper
        -
          var cards = [
            ['itoMember-1', 'Steven Watson'],
            ['itoMember-2', 'Steven Watson'],
            ['itoMember-3', 'Steven Watson'],
            ['itoMember-4', 'Steven Watson'],
            ['itoMember-5', 'Steven Watson'],
            ['itoMember-6', 'Steven Watson'],
            ['itoMember-7', 'Steven Watson'],
            ['itoMember-8', 'Steven Watson']
          ]
        
        each card, index in cards    
          // col
          .ito-members__col.wow
            .ito-member
              .ito-member__image
                img(src='img/' + card[0] + '.jpg' srcset='img/' + card[0] + '@2x.jpg 2x')
              .ito-member__content
                .ito-member__description
                  .ito-member__name= card[1]
                  .ito-member__position Lorem ipsum
              .ito-member__popover
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque.


  // INFO invert
  .info.info--m-bottom
    .container
      .info__wrapper.info__wrapper--reverse
        .info__content.wow(data-animation-class="wowFadeLeft")
          h2.heading.c-violet Your Career
          .info__text
            p Adipiscing bibendum est ultricies integer quis auctor. Enim praesent elementum facilisis leo vel. Pellentesque sit amet porttitor eget dolor morbi non arcu risus. Amet est placerat in egestas erat imperdiet. Nisl nisi scelerisque eu ultrices vitae 
        
        .info__image.wow(data-animation-class="wowFadeRight" data-animation-delay=".5s")
          .info__image-mask
            img(src='img/promoImage_2.jpg' srcset='img/promoImage_2@2x.jpg 2x')
  
  // INFO
  .info.info--ito
    .info__bg
      .info__bg-wrapper
        include ../inline-svg/info-promo-bg-2.svg
    .container.container--extra
      .info__wrapper
        .info__content.wow(data-animation-class="wowFadeRight")
          h2.heading.c-aqua Artist Development
          .info__text
            p Adipiscing bibendum est ultricies integer quis auctor. Enim praesent elementum facilisis leo vel. Pellentesque sit amet porttitor eget dolor morbi non arcu risus. Amet est placerat in egestas erat imperdiet. Nisl nisi scelerisque eu ultrices vitae 
            .info__cta
              a(href="signup.html").btn.btn-primary.btn-primary--wider.btn-primary--red
                span Get Started
        .info__image.wow(data-animation-class="wowFadeRight" data-animation-delay=".5s")
          .info__image-mask
            img(src='img/promoImage_1.jpg' srcset='img/promoImage_1@2x.jpg 2x')
