---
title: MARKETPLACE - PRODUCT
---
extends shared/_layout

block header
  include components/headers/_header-market
  
block content
  
  // MARKETPLACE PRODUCT
  .product
    .container.container--wide
      // breadcrumbs
      .breadcrumbs
        a(href="#") Service Category 1
        a(href="#") Service Category 2
        a(href="#") Category 3
  
      .product__wrapper
        .product__content
          .product__box
            
        .product__sidebar
          
