---
title: Profile
---
extends shared/_layout

block header
  include components/headers/_header-profile
  
block content
  
  // PROFILE
  .profile
    .profile__hero
      .profile__bg
        .profile__bg-wrapper
          include ../inline-svg/hero-bg-profile.svg
      .container
        .profile__info
          .profile__image.wow(data-animation-class="wowFadeDown")
            .avatar.avatar--big
              img(src='img/avatar-1.jpg' srcset='img/avatar-1@2x.jpg 2x')
          a(href="plans.html").profile__status.wow(data-animation-delay=".4s")
            span Premium
          .profile__name.wow(data-animation-delay=".5s") Benjamin Rees
          .profile__position.wow(data-animation-delay=".6s") CEO at The Famous Company
          .profile__connections.wow(data-animation-delay=".8s")
            .profile__connections-num 275k+ 
            .profile__connections-name Connections
          .profile__bio.wow
            p A creative & innovative business leader, with a meticulous management style. Specialising in business start-ups, market research and brand identity. Chief Marketing Officer at The Famous Company
            
    include components/_profile-grid
