---
title: Profile
---
extends shared/_layout

block header
  include components/headers/_header-profile
  
block content
  
  // PROFILE
  .profile
    .profile__hero
      .profile__bg
        .profile__bg-wrapper
          include ../inline-svg/hero-bg-profile.svg
      .container
        .profile__info
          .profile__image.wow(data-animation-class="wowFadeDown")
            .avatar.avatar--big
              img(src='img/avatar-2.jpg' srcset='img/avatar-2@2x.jpg 2x')
          a(href="#").profile__status.wow(data-animation-delay=".4s")
            span Premium
          .profile__name.wow(data-animation-delay=".5s") Jonnie Forster
          .profile__position.wow(data-animation-delay=".6s") CEO at The Foundation 
          .profile__connections.wow(data-animation-delay=".8s")
            .profile__connections-num 100k+ 
            .profile__connections-name Connections
          .profile__bio.wow
            p JONNIE FORSTER EMERGED AS A MUSIC ENTREPRENEUR AFTER GRADUATING WITH A BACHELOR OF SCIENCE IN MARKETING FROM SAN DIEGO STATE UNIVERSITY. HE SOON JOINED A&M/TUFF BREAK RECORDS TO HELP IMPLEMENT MARKETING PLANS FOR THEIR HIP-HOP ROSTER. JONNIE MOVED NEXT TO CAPITOL RECORDS’ CATALOG DEPARTMENT, AS A MARKETING EXECUTIVE, AND WAS INSTRUMENTAL IN VASTLY SUCCESSFUL CAMPAIGNS FOR THE BEATLES, FRANK SINATRA, JIMI HENDRIX, THE BEACH BOYS, TINA TURNER, PINK FLOYD, AND A HOST OF OTHERS. JONNIE CONCEPTUALIZED AND EXECUTIVE PRODUCED GEORGE CLINTON’S “GREATEST FUNKIN’ HITS” ALBUM SECURING ARTISTS LIKE ICE CUBE, BUSTA RHYMES, Q-TIP, OL’ DIRTY BASTARD, COOLIO, AND DIGITAL UNDERGROUND.
            
    include components/_profile-grid
