---
title: Recover password
---
extends shared/_layout

block header
  include components/_header-login
  
block content
  
  // HERO
  .login
    .page-bg
      .page-bg__wrapper
        include ../inline-svg/hero-bg-login.svg
    .container
      .login__wrapper
        .heading.wow Forgot Password?
        //form
        form(action="#" js-validate-recover).login-form
          .ui-group.wow(data-animation-delay=".4s")
            input(type="email" name="email" placeholder="Email")

          .login-form__cta.wow(data-animation-delay=".7s")
            button(type="submit").btn.btn-primary.btn-primary--red
              span Recover
        
        // socials
        .login-form__socials.wow
          a(href="#").btn.btn-social.btn-social--fb
            +icon('ico-social-fb')
            span Facebook <span>login</span>
          
          a(href="#").btn.btn-social.btn-social--tw
            +icon('ico-social-tw')
            span Twitter <span>login</span>
            
          a(href="#").btn.btn-social.btn-social--gplus
            +icon('ico-social-gplus')
            span Google <span>login</span>
