---
title: Signup 3
---
extends shared/_layout

block header
  
block content
  
  // SIGNUP
  .signup
    .page-bg
      .page-bg__wrapper
        include ../inline-svg/hero-bg-login.svg
    .container
      .signup__wrapper
        .signup__logo.wow(data-animation-class="wowFadeDown")
          +icon('ico-logo')
        h2.signup__heading.signup__heading--big.wow(data-animation-delay=".4s") Nice! Welcome.

        //form
        form.signup-form(action="#" js-validate-signup-3 data-animation-delay=".6s").wow
          .signup-form__uploader
            .photo-uploader(js-photo-upload)
              input(type="file" name="avatar" id="avatar")
              label(for="avatar")
                .photo-uploader__placeholder
                  img(src='' alt="")
                  +icon('ico-camera')
                .photo-uploader__name Upload Photo
              
          .ui-group.wow(data-animation-delay=".4s")
            input(type="text" name="name" placeholder="Your Name")
          .ui-group.wow(data-animation-delay=".5s")
            input(type="text" name="artist" placeholder="Artist Name")
          .ui-group.wow(data-animation-delay=".6s")
            input(type="text" name="genres" placeholder="Music Genres")
            +icon('ico-search')
          .ui-group.wow(data-animation-delay=".6s")
            .tag-inputs
              input(type="text" name="socails" placeholder="Social links")
              +icon('ico-plus')
          .signup-form__cta.wow(data-animation-delay=".8s")
            button(type="submit").btn.btn-primary.btn-primary--red
              span Next
              +icon('ico-arrow-next')
                      
        // steps
        .signup__steps(data-active-step="3" data-animation-class="wowFadeDown").wow
          .signup-step.is-active
            .signup-step__progress
            span Choose location
          .signup-step
            .signup-step__progress
            span Profession
          .signup-step
            .signup-step__progress
            span Tell us more
          .signup-step
            .signup-step__progress
            span Bio
          .signup-step
            .signup-step__progress
            span Meet the Music
