---
title: Signup 5
---
extends shared/_layout

block header
  
block content
  
  // SIGNUP
  .signup
    .page-bg
      .page-bg__wrapper
        include ../inline-svg/hero-bg-login.svg
    .container
      .signup__wrapper
        .signup__logo.wow(data-animation-class="wowFadeDown")
          +icon('ico-logo')
        h2.signup__heading.wow(data-animation-delay=".4s") Finding your network suggestions…
        
        //form
        .signup__sug
          .signup__sug-icon
            i.icon.icon-suggestions-search
          .signup__sug-info
            p Using some music magic we're finding the best contacts to help you make the most of cosound.
            
          
        
        // steps
        .signup__steps(data-active-step="5" data-animation-class="wowFadeDown").wow
          include components/_signup-steps
