.adv-search
  &__price
    position: relative
    padding-top: 40px
    display: none

    &-range
      position: absolute
      top: 5px
      right: 0
      color: $colorViolet2
      font-size: 20px
