.sidebar-user
  text-align: center
  margin: 13px 0 35px
  &__avatar
    position: relative
    z-index: 1
    size: 93px
    border-radius: 50%
    border: 2px solid white
    overflow: hidden
    margin-left: auto
    margin-right: auto
    font-size: 0
    img
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%,-50%)
      min-width: 100%
      min-height: 100%
      width: auto
      height: auto
  &__name
    margin-top: 22px
    font-size: 16px
    line-height: 2
    font-weight: 500

  &__position
    line-height: 2
    font-size: 14px
    color: $fontColor50
