/* HEADER
.header
  position: absolute
  top: 0
  right: 0
  left: 0
  z-index: 10
  background: transparent
  &__wrapper
    display: flex
    align-items: center
    padding: 35px 50px 15px
    min-height: 100px
    color: white

  &__logo
    flex: 0 0 auto
    font-size: 35px
    padding-right: 30px
    font-size: 25px

  &__menu
    flex: 0 1 auto
    margin: 0
    margin-left: auto
    display: flex
    align-items: center
    li
      display: inline-block
      margin-right: 25px
      &:last-child
        margin-right: 0px
    a
      display: inline-block
      position: relative
      padding: 5px 0px
      transition: color .25s $ease
      &::after
        display: inline-block
        content: ' '
        position: absolute
        bottom: 1px
        left: 0
        right: 100%
        height: 2px
        background: currentColor
        transition: .15s $ease
      &:hover
        // color: $colorViolet
        &::after
          right: 0

  &__hamburger
    display: none
    padding-left: 20px

  &__info
    margin-left: auto
    font-size: 14px
    display: flex
    flex-wrap: wrap
    span
      display: inline-block
      color: rgba(white, .72)
    a
      display: inline-block
      margin-left: 15px
      font-weight: 500

  &__search
    position: relative
    margin-left: auto
    flex: 0 2 640px
    &-input
      position: relative
      z-index: 2
      font-size: 14px
      input
        width: 100%
        -webkit-apperance: none
        border-radius: 25px
        padding: 13px 45px
        border: 0
        background: rgba(white, .13)
        color: white
        transition: .25s $ease
        &::placeholder
          color: rgba(white, .6)
        &:focus
          color: $fontColor
          background: white
          box-shadow: 0 4px 11px 0 rgba(0,0,0,0.12)
          &::placeholder
            color: $fontColor
          + .ico
            fill: #667AC2
      .ico
        fill: white
        font-size: 15px
        position: absolute
        top: 50%
        left: 19px
        transform: translateY(-50%)
        transition: .25s $ease

    &-drop
      position: absolute
      z-index: 1
      top: 30px
      left: 20px
      right: 20px
      background: white
      box-shadow: 0 10px 30px 0 rgba(0,0,0,0.08)
      border-radius: 10px
      padding: 27px
      opacity: 0
      transform: translate(0,20px)
      pointer-events: none
      transition: .25s $ease
      span
        display: block
        padding: 10px 0
        color: #949494
        margin-bottom: 5px
      &.is-active
        opacity: 1
        transform: translate(0,0)
        pointer-events: all


  &__actions
    // margin-left: auto
    padding-left: 60px
    flex: 0 0 460px
    display: flex
    align-items: center
    min-width: 1px
    min-height: 0
    &-item
      flex: 0 1 80px
      min-width: 80px
      min-height: 0
      // padding: 0 5%
      display: flex
      a
        display: block
        width: 100%
        text-align: center
    .ico
      &-case
        font-size: 18px
      &-comments
        font-size: 20px
        transform: translateY(2px)
      &-profile
        font-size: 18px
      &-notifications
        font-size: 22px
      &-cart
        font-size: 22px


  &__premium
    flex: 0 0 auto
    padding-left: 20px
    a
      display: inline-block
      border-radius: 50px
      font-size: 14px
      font-weight: 500
      background: #319B9D
      padding: 12px 14px
      transition: .25s $ease
      &:hover
        background: $colorRed
        color: white

  &__cart
    position: relative
    &-num
      position: absolute
      top: -5px
      right: 20px
      background: $colorRed
      color: white
      border-radius: 50px
      font-size: 10px
      min-size: 14px
      display: flex
      align-items: center
      justify-content: center

  &__notifications
    position: relative
    &-mark
      display: inline-block
      position: absolute
      top: 0px
      right: 31px
      background: $colorRed
      border-radius: 50%
      box-shadow: 0 2px 4px 0 #FF1E7A
      size: 6px
      opacity: 0
      transition: .25s $ease
    &.has-notifications
      .header__notifications-mark
        opacity: 1

  &--dash
    background-image: linear-gradient(80deg, #8E5ACD 0%, #21B0B0 100%)

+r($desktop)
  .header

+r($tablet)
  .header
    &__wrapper
      padding-left: 25px
      padding-right: 25px
    &__menu
      display: none
    &__hamburger
      margin-left: auto
      display: block

+r($mobile)
  .header
    &__logo
      // font-size: 30px
    &__info
      flex-direction: column
      align-items: flex-end
      text-align: right
      span
        margin-bottom: 5px

+r($mobile-s)
  .header
    &__info
      span
        font-size: 12px
