/* HEADER
.header
  position: absolute
  top: 0
  right: 0
  left: 0
  z-index: 10
  background: transparent
  &__wrapper
    position: relative
    z-index: 2
    display: flex
    align-items: center
    padding: 35px 50px 35px
    // min-height: 100px
    color: white
    // transition: .25s $ease

  &__logo
    flex: 0 0 590px
    font-size: 35px
    padding-right: 30px
    font-size: 25px

  &__menu
    flex: 0 1 auto
    margin: 0
    margin-left: auto
    display: flex
    align-items: center
    li
      display: inline-block
      margin-right: 25px
      &:last-child
        margin-right: 0px
    a
      display: inline-block
      position: relative
      padding: 5px 0px
      transition: color .25s $ease
      &::after
        display: inline-block
        content: ' '
        position: absolute
        bottom: 1px
        left: 0
        right: 100%
        height: 2px
        background: currentColor
        transition: .15s $ease
      &:hover
        // color: $colorViolet
        &::after
          right: 0

  &__hamburger
    display: none
    padding-left: 20px

  &__info
    margin-left: auto
    font-size: 14px
    display: flex
    flex-wrap: wrap
    span
      display: inline-block
      color: rgba(white, .72)
    a
      display: inline-block
      margin-left: 15px
      font-weight: 500

  &__search
    position: relative
    margin-left: auto
    margin-right: auto
    flex: 0 2 640px
    &-input
      position: relative
      z-index: 1
      font-size: 14px
      input
        position: relative
        z-index: 2
        width: 100%
        -webkit-apperance: none
        border-radius: 25px
        padding: 13px 45px
        border: 0
        background: rgba(white, .13)
        color: white
        transition: .25s $ease
        &::placeholder
          color: rgba(white, .6)
        &:focus, &.is-focused
          color: $fontColor
          background: white
          box-shadow: 0 4px 11px 0 rgba(0,0,0,0.12)
          &::placeholder
            color: $fontColor
          + .ico
            fill: #667AC2
      .ico
        fill: white
        font-size: 15px
        position: absolute
        z-index: 2
        top: 50%
        left: 19px
        transform: translateY(-50%)
        transition: .25s $ease

    &-drop
      position: absolute
      z-index: 1
      top: 30px
      left: 20px
      right: 20px
      background: white
      box-shadow: 0 10px 30px 0 rgba(0,0,0,0.08)
      border-radius: 10px
      padding: 37px 0 27px
      opacity: 0
      transform: translate(0,20px)
      pointer-events: none
      transition: .25s $ease
      li
        display: none
        color: $fontColor
        margin-bottom: 5px
        transition: .25s $ease
        a
          padding: 10px 27px
          display: block
          transition: .25s $ease
          &:hover
            background: #F9F9F9
            box-shadow: 0 6px 11px 0 rgba(0, 0, 0, 0.04)
        mark
          color: #949494
          background: none
        // test
        &.is-visible
          display: block

      &.is-active
        opacity: 1
        transform: translate(0,0)
        pointer-events: all
    &-no-results
      display: none
      color: $fontColor
      margin: 15px 27px
      font-size: 16px
      span
        font-weight: 500


  &__actions
    // margin-left: auto
    padding-left: 80px
    flex: 0 0 470px
    display: flex
    align-items: center
    justify-content: flex-end
    min-width: 1px
    min-height: 42px
    &-item
      flex: 0 1 80px
      // min-width: 80px
      min-height: 0
      font-size: 0
      // padding: 0 5%
      display: flex
      a
        position: relative
        display: block
        width: 100%
        text-align: center
        &::after
          display: block
          content: ' '
          position: absolute
          top: 50%
          left: 50%
          transform: translate(-50%,-50%)
          background: rgba(#424242, .2)
          z-index: -1
          border-radius: 26px
          size: 55px 42px
          opacity: 0
          pointer-events: none
          user-select: none
          transition: .25s $ease
        &.is-active, &:hover
          &::after
            opacity: 1
    .ico
      &-case
        font-size: 20px
      &-comments
        font-size: 20px
        transform: translateY(2px)
      &-profile
        font-size: 20px
      &-notifications
        font-size: 22px
      &-cart
        font-size: 22px


  &__premium
    flex: 0 0 auto
    padding-left: 20px
    a
      display: inline-block
      border-radius: 50px
      font-size: 14px
      font-weight: 500
      background: #319B9D
      padding: 12px 18px
      transition: .25s $ease
      &:hover
        background: $colorRed
        color: white

  &__user
    flex: 0 0 auto
    padding-left: 20px
    font-size: 0


  &__cart
    position: relative
    .ico
      transform: translate(-3px)
    &-num
      position: absolute
      top: -5px
      right: 22px
      background: $colorRed
      color: white
      border-radius: 50px
      font-size: 10px
      min-size: 14px
      size: 14px
      overflow: hidden
      display: flex
      align-items: center
      justify-content: center

  &__notifications
    position: relative
    &-mark
      display: inline-block
      position: absolute
      top: 0px
      right: 31px
      background: $colorRed
      border-radius: 50%
      box-shadow: 0 2px 4px 0 #FF1E7A
      size: 6px
      opacity: 0
      transition: .25s $ease
    &.has-notifications
      .header__notifications-mark
        opacity: 1

  &--bg
    background-image: linear-gradient(-80deg, #8E5ACD 0%, #21B0B0 100%)
  &.js-should-scroll
    position: fixed
    left: 0
    right: 0
    transform-style: preserve-3d
    transform: translate3d(0,0px,0)
    transition: .25s $ease
    &.is-scrolled
      transform: translate3d(0,-20px,0)
      background-image: linear-gradient(-80deg, #8E5ACD 0%, #21B0B0 100%)
      .header
        &__wrapper
          // padding-top: 15px
          padding-bottom: 15px
  &--dash
    .header
      &__hamburger
        margin-left: 0


+r(1660)
  .header
    &__logo
      flex-basis: auto
    &__search
      margin-right: 0
      padding-left: 30px
    &__actions
      // margin-left: auto
      padding-left: 40px
      flex: 0 0 430px

+r(1200)
  .header
    &__actions
      flex-basis: 330px
      &-item
        flex-basis: 60px

    &__notifications
      &-mark
        right: 21px
    &__cart
      &-num
        right: 12px


+r($desktop)
  .header
    &__search
      display: none
    &__actions
      margin-left: auto
    &--dash
      .header
        &__hamburger
          display: block

+r($tablet)
  .header
    &__wrapper
      padding-left: 25px
      padding-right: 25px
    &__menu
      display: none
    &__hamburger
      margin-left: auto
      display: block
    &__premium
      display: none
    &__user
      display: none
    &--dash
      .header
        &__wrapper
          //* minus 40px
          padding-top: 15px
          padding-bottom: 15px
      &.js-should-scroll.is-scrolled
        transform: translate3d(0,0,0)
    &__search
      &-drop
        left: 0
        right: 0

+r($mobile)
  .header
    &__logo
      // font-size: 30px
    &__info
      flex-direction: column
      align-items: flex-end
      text-align: right
      span
        margin-bottom: 5px
    &__actions
      flex: 0 0 180px
      padding-left: 0
      &-item
        &:nth-child(1), &:nth-child(3)
          display: none
    &--dash
      .header
        //

+r(460)
  .header
    &__actions
      flex: 0 0 60px
      &-item
        &:nth-child(2), &:nth-child(5)
          display: none
    &--dash
      .header
        &__hamburger
          padding-left: 0

+r($mobile-s)
  .header
    &__info
      span
        font-size: 12px


.bg-overlay
  position: fixed 0
  z-index: 8
  opacity: 0
  background: rgba(black, .57)
  pointer-events: none
  transition: .25s $ease
  &.is-active
    opacity: 1
    pointer-events: all
  +rmin($desktop)
    display: none !important

//header market
.header-market
  position: relative
  z-index: 1
  background: #FFFFFF
  overflow: hidden
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.09)
  &__menu
    display: flex
    overflow-x: auto
    margin: 0
    padding-left: 50px
    padding-right: 50px
    // justify-content: center
    min-width: 100vw
    -webkit-overflow-scrolling: touch
  &__mobile
    display: none
    margin: 0
    flex: 0 0 auto
    font-size: 14px
    margin-right: 42px
    color: $fontColor
    padding: 16px 0
    cursor: pointer

  &__toggle
    position: absolute
    right: 45px
    top: 50%
    z-index: 3
    display: none
    align-items: center
    justify-content: center
    width: 42px
    height: 36px
    font-size: 7px
    background-color: transparent
    color: #8E8E8E
    text-align: center
    border: 1px solid $borderColor
    border-radius: 30px
    cursor: pointer
    transform: translateY(-50%)
    transition: .25s $ease
    .ico
      transition: transform .25s $ease
    &:hover
      color: $colorGreen
    &.is-active
      .ico
        transform: rotate(180deg)

  li
    position: relative
    flex: 0 0 auto
    min-width: 1px
    min-height: 0
    white-space: nowrap
    display: inline-block
    font-size: 14px
    margin-right: 37px
    color: #8E8E8E
    transition: .25s $ease
    &:first-of-type
      margin-left: auto
    &:last-of-type
      margin-right: auto
    a
      display: inline-block
      position: relative
      padding: 20px
      &::after
        display: inline-block
        content: ' '
        position: absolute
        bottom: 0
        left: 0
        right: 100%
        height: 1px
        background: #8C5BCC
        box-shadow: 0 2px 4px 0 rgba(140,91,204,0.23)
        transition: .25s $ease
    &.is-active
      color: $fontColor
      a::after
        right: 0
    &:hover
      color: $fontColor

+r(1200)
  .header-market
    li
      &:last-of-type
        &::after
          display: inline-block
          content: ''
          width: 50px



+r($desktop)
  .header-market
    overflow: visible
    &__mobile
      display: block
      padding-left: 50px

    &__toggle
      display: flex
    &__menu
      position: absolute
      top: 0
      left: 0
      z-index: 2
      padding-left: 0
      padding-right: 0
      display: block
      background: white
      opacity: 0
      pointer-events: none
      transition: .25s $ease
      &.is-active
        opacity: 1
        pointer-events: all
        transform: translate3d(0,0,0)

    li
      display: block
      margin-right: 0
      &:first-of-type
        margin-left: 0
      a
        display: block
        padding: 16px 50px
        transition: background .25s $ease
        &::after
          display: none
      &:hover
        color: $colorGreen
        a
          background: #F5F5F5


    // li
    //   margin-right: 25px
    //   a
    //     padding-left: 15px
    //     padding-right: 15px

+r($tablet)
  .header-market
    &__menu
    li
      a
        padding-left: 25px
        padding-right: 25px
    &__mobile
      padding-left: 25px
    &__toggle
      right: 20px
    // li
    //   &:last-of-type
    //     &::after
    //       width: 25px




/* Header search
.header-search
  position: relative
  z-index: 1
  margin: 0
  background: #FFFFFF
  padding-left: 50px
  padding-right: 50px
  display: flex
  // justify-content: center
  // overflow-x: auto
  min-width: 100vw
  -webkit-overflow-scrolling: touch
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.09)
  &__wrapper
    padding: 7px 0
    width: 100%
    max-width: 1350px
    min-width: 1px
    display: flex
    margin-left: auto
    margin-right: auto
  &__keywords
    flex: 0 1 580px
    max-width: 580px
    min-width: 1px
    padding-right: 50px
    display: flex
    align-items: center

  &__location
    flex: 0 1 530px
    min-width: 1px
    max-width: 530px
    display: flex
    align-items: center
    .header-search__group
      padding-right: 35px
      label:not(.ui-input__validation)
        padding-right: 20px
      &:last-child
        padding-right: 0
      &:first-child
        flex: 0 0 240px

  &__cta
    flex: 0 0 230px
    max-width: 230px
    min-width: 1px
    padding-left: 30px
    margin-left: auto
    .btn
      width: 100%


  &__group
    display: flex
    width: 100%
    min-width: 1px
    align-items: center
    label:not(.ui-input__validation)
      flex: 0 0 auto
      min-width: 1px
      display: block
      font-size: 14px
      line-height: 1.7
      padding-right: 25px
    input, textarea
      flex: 1 1 auto
      display: block
      width: 100%
      min-width: 1px
      -webkit-appearance: none
      background: #F5F5F5
      color: $fontColor
      border: none
      border-radius: 30px
      padding: 12px 20px
      font-size: 14px
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.07)
      transition: .25s $ease
      &::placeholder
        color: $fontColor50
      &:hover
        box-shadow: 0 4px 8px rgba(0,0,0,0.04)
      &:focus
        box-shadow: 0 4px 8px rgba(0,0,0,0.2)

+r(1200)
  .header-search
    &__keywords
      padding-right: 30px
    &__group
      label:not(.ui-input__validation)
        display: none
    &__location
      flex: 0 0 375px
      // width: 100%
      .header-search__group
        &:first-child
          flex-basis: 175px
          max-width: 175px
        &:last-child
          flex: 0 0 200px
          max-width: 200px

+r($desktop)
  .header-search
    &__keywords
      padding-right: 20px
    &__location
      flex: 0 0 300px
      .header-search__group
        &:first-child
          flex-basis: 155px
          padding-right: 20px

        &:last-child
          flex: 0 1 auto

    &__cta
      flex: 0 0 160px
      padding-left: 20px

+r($tablet)
  .header-search
    padding-left: 25px
    padding-right: 25px
    &__wrapper
      flex-direction: column
      max-width: 500px
      margin-left: auto
      margin-right: auto
    &__keywords
      flex: 0 0 auto
      margin-bottom: 10px
      padding-right: 0
    &__location
      flex: 0 0 auto
      margin-bottom: 10px
      .header-search__group
        &:last-child
          flex: 1 1 auto
          max-width: 100%
    &__cta
      display: none
      flex: 0 0 auto
      margin-left: auto
      margin-right: auto
      padding-left: 0
