.ito-brands
  position: relative
  z-index: 1
  padding: 50px 0
  margin: 100px 0
  width: 100%
  &--white
    margin: -200px 0 0
    padding: 270px 0 200px
    > .container
      position: relative
      z-index: 2

  &__title
    font-size: 40px
    font-weight: 500
    text-align: center

  &__wrapper
    margin-left: -10px
    margin-right: -10px
    margin-top: 40px
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap
  &__el
    padding: 20px 10px
    flex: 0 0 auto

  &__bg
    position: absolute 0
    z-index: 1
    display: flex
    flex-direction: column
    &-wrapper
      flex: 1 1 auto
      display: flex
      max-height: 680px
      flex-direction: column
      position: relative
    svg
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%,-50%)
      min-width: 100%
      min-height: 100%
      width: 1920px
      height: auto
      overflow: visible

+r(1200)
  .ito-brands
    &__wrapper
      margin-left: 0
      margin-right: 0
    &__el
      padding: 10px 0
      .icon
        transform: scale(.8)
        transform-origin: center center



/* ITO testimonials
.ito-testimonials
  &__wrapper

  &__slider

  &__slide
    flex: 0 0 auto
    padding-top: 50px
    padding-bottom: 30px

.ito-testimonial
  max-width: 860px
  margin-left: auto
  margin-right: auto
  position: relative
  text-align: center
  background: #FFFFFF
  box-shadow: 9px 18px 30px 0 rgba(129,129,129,0.24)
  border-radius: 5px
  padding: 80px 60px 50px

  &__avatar
    position: absolute
    left: 50%
    top: -50px
    transform: translateX(-50%)

  &__name
    font-size: 22px
    font-weight: 500
  &__position
    font-size: 18px
    color: #C4CBD3
    margin-top: 6px
  &__content
    margin-top: 25px
    p
      margin: 0
      font-size: 22px
      font-style: italic
      color: #8392A6
      & + p
        margin-top: 1em


/* ITO PRE
.ito-pre
  &-email
    width: 100%
    position: relative
    z-index: 1
    display: flex
    background: white
    border-radius: 30px
    box-shadow: 0 4px 11px 0 rgba(0,0,0,0.12)
    transition: .25s $ease
    input
      display: block
      width: 100%
      -webkit-appearance: none
      background: transparent
      color: $colorAqua
      border: none
      border-radius: 30px
      padding: 20px 80px 19px 35px
      font-size: 16px
      transition: .25s $ease
      &::placeholder
        color: $colorAqua
      &:focus
        outline: none

    button
      position: absolute
      top: 0
      bottom: 0
      // fix to cover border-radius
      right: -1px
      z-index: 2

    &.is-focused
      box-shadow: 0 4px 11px 0 rgba(0,0,0,0.12)
      box-shadow: 0 4px 8px rgba(0,0,0,0.2)


/* Pretty much blank wrappers

//  ambassadors
.ambassadors
