$sprite: (
	brand-aion: (
		offset-x: -382px,
		offset-y: 0px,
		width: 141px,
		height: 55px,
		total-width: 582px,
		total-height: 499px,
		image: '../img/sprite.png'
	),
	brand-coincart: (
		offset-x: -148px,
		offset-y: 0px,
		width: 224px,
		height: 65px,
		total-width: 582px,
		total-height: 499px,
		image: '../img/sprite.png'
	),
	brand-dropbox: (
		offset-x: -148px,
		offset-y: -142px,
		width: 213px,
		height: 59px,
		total-width: 582px,
		total-height: 499px,
		image: '../img/sprite.png'
	),
	brand-factom: (
		offset-x: 0px,
		offset-y: -251px,
		width: 246px,
		height: 44px,
		total-width: 582px,
		total-height: 499px,
		image: '../img/sprite.png'
	),
	brand-icon: (
		offset-x: 0px,
		offset-y: -368px,
		width: 158px,
		height: 48px,
		total-width: 582px,
		total-height: 499px,
		image: '../img/sprite.png'
	),
	brand-paypal: (
		offset-x: -195px,
		offset-y: -305px,
		width: 168px,
		height: 45px,
		total-width: 582px,
		total-height: 499px,
		image: '../img/sprite.png'
	),
	brand-quantstamp: (
		offset-x: -148px,
		offset-y: -75px,
		width: 223px,
		height: 57px,
		total-width: 582px,
		total-height: 499px,
		image: '../img/sprite.png'
	),
	brand-slack: (
		offset-x: 0px,
		offset-y: -305px,
		width: 185px,
		height: 53px,
		total-width: 582px,
		total-height: 499px,
		image: '../img/sprite.png'
	),
	brand-stripe: (
		offset-x: -382px,
		offset-y: -65px,
		width: 135px,
		height: 57px,
		total-width: 582px,
		total-height: 499px,
		image: '../img/sprite.png'
	),
	brand-visa: (
		offset-x: -382px,
		offset-y: -288px,
		width: 119px,
		height: 37px,
		total-width: 582px,
		total-height: 499px,
		image: '../img/sprite.png'
	),
	checkmark: (
		offset-x: -498px,
		offset-y: -186px,
		width: 10px,
		height: 8px,
		total-width: 582px,
		total-height: 499px,
		image: '../img/sprite.png'
	),
	cosound-token: (
		offset-x: 0px,
		offset-y: 0px,
		width: 138px,
		height: 115px,
		total-width: 582px,
		total-height: 499px,
		image: '../img/sprite.png'
	),
	emodji: (
		offset-x: -533px,
		offset-y: -401px,
		width: 23px,
		height: 23px,
		total-width: 582px,
		total-height: 499px,
		image: '../img/sprite.png'
	),
	fullscreen: (
		offset-x: -568px,
		offset-y: -302px,
		width: 14px,
		height: 14px,
		total-width: 582px,
		total-height: 499px,
		image: '../img/sprite.png'
	),
	itoCardDiscount: (
		offset-x: -382px,
		offset-y: -205px,
		width: 69px,
		height: 73px,
		total-width: 582px,
		total-height: 499px,
		image: '../img/sprite.png'
	),
	itoCardGlobe: (
		offset-x: 0px,
		offset-y: -426px,
		width: 69px,
		height: 73px,
		total-width: 582px,
		total-height: 499px,
		image: '../img/sprite.png'
	),
	itoHandle: (
		offset-x: -567px,
		offset-y: -337px,
		width: 15px,
		height: 20px,
		total-width: 582px,
		total-height: 499px,
		image: '../img/sprite.png'
	),
	list-check: (
		offset-x: -533px,
		offset-y: -302px,
		width: 25px,
		height: 25px,
		total-width: 582px,
		total-height: 499px,
		image: '../img/sprite.png'
	),
	no-services: (
		offset-x: 0px,
		offset-y: -125px,
		width: 135px,
		height: 116px,
		total-width: 582px,
		total-height: 499px,
		image: '../img/sprite.png'
	),
	paperclip: (
		offset-x: -533px,
		offset-y: -434px,
		width: 22px,
		height: 23px,
		total-width: 582px,
		total-height: 499px,
		image: '../img/sprite.png'
	),
	pay-amex: (
		offset-x: -533px,
		offset-y: -116px,
		width: 35px,
		height: 21px,
		total-width: 582px,
		total-height: 499px,
		image: '../img/sprite.png'
	),
	pay-discover: (
		offset-x: -533px,
		offset-y: -209px,
		width: 34px,
		height: 21px,
		total-width: 582px,
		total-height: 499px,
		image: '../img/sprite.png'
	),
	pay-jcb: (
		offset-x: -533px,
		offset-y: -147px,
		width: 35px,
		height: 21px,
		total-width: 582px,
		total-height: 499px,
		image: '../img/sprite.png'
	),
	pay-maestro-old: (
		offset-x: -533px,
		offset-y: -178px,
		width: 35px,
		height: 21px,
		total-width: 582px,
		total-height: 499px,
		image: '../img/sprite.png'
	),
	pay-mastercard-old: (
		offset-x: -533px,
		offset-y: -271px,
		width: 34px,
		height: 21px,
		total-width: 582px,
		total-height: 499px,
		image: '../img/sprite.png'
	),
	pay-paypal: (
		offset-x: -533px,
		offset-y: -85px,
		width: 35px,
		height: 21px,
		total-width: 582px,
		total-height: 499px,
		image: '../img/sprite.png'
	),
	pay-visa: (
		offset-x: -533px,
		offset-y: -240px,
		width: 34px,
		height: 21px,
		total-width: 582px,
		total-height: 499px,
		image: '../img/sprite.png'
	),
	profile-communication: (
		offset-x: -533px,
		offset-y: -370px,
		width: 26px,
		height: 21px,
		total-width: 582px,
		total-height: 499px,
		image: '../img/sprite.png'
	),
	profile-gears: (
		offset-x: -564px,
		offset-y: -467px,
		width: 18px,
		height: 18px,
		total-width: 582px,
		total-height: 499px,
		image: '../img/sprite.png'
	),
	profile-history: (
		offset-x: -498px,
		offset-y: -132px,
		width: 22px,
		height: 19px,
		total-width: 582px,
		total-height: 499px,
		image: '../img/sprite.png'
	),
	profile-privacy: (
		offset-x: -565px,
		offset-y: -434px,
		width: 17px,
		height: 20px,
		total-width: 582px,
		total-height: 499px,
		image: '../img/sprite.png'
	),
	profile-services: (
		offset-x: -533px,
		offset-y: -337px,
		width: 24px,
		height: 23px,
		total-width: 582px,
		total-height: 499px,
		image: '../img/sprite.png'
	),
	profile-support: (
		offset-x: -533px,
		offset-y: -467px,
		width: 21px,
		height: 21px,
		total-width: 582px,
		total-height: 499px,
		image: '../img/sprite.png'
	),
	signup-check: (
		offset-x: -382px,
		offset-y: -335px,
		width: 15px,
		height: 11px,
		total-width: 582px,
		total-height: 499px,
		image: '../img/sprite.png'
	),
	signup-type-band: (
		offset-x: -382px,
		offset-y: -132px,
		width: 106px,
		height: 63px,
		total-width: 582px,
		total-height: 499px,
		image: '../img/sprite.png'
	),
	signup-type-musician: (
		offset-x: -533px,
		offset-y: 0px,
		width: 49px,
		height: 75px,
		total-width: 582px,
		total-height: 499px,
		image: '../img/sprite.png'
	),
	signup-type-pro: (
		offset-x: -461px,
		offset-y: -205px,
		width: 59px,
		height: 63px,
		total-width: 582px,
		total-height: 499px,
		image: '../img/sprite.png'
	),
	soundbar: (
		offset-x: -498px,
		offset-y: -161px,
		width: 19px,
		height: 15px,
		total-width: 582px,
		total-height: 499px,
		image: '../img/sprite.png'
	),
	star-blank: (
		offset-x: -569px,
		offset-y: -370px,
		width: 10px,
		height: 10px,
		total-width: 582px,
		total-height: 499px,
		image: '../img/sprite.png'
	),
	star-fill: (
		offset-x: -511px,
		offset-y: -288px,
		width: 10px,
		height: 10px,
		total-width: 582px,
		total-height: 499px,
		image: '../img/sprite.png'
	),
	suggestions-search: (
		offset-x: -79px,
		offset-y: -426px,
		width: 56px,
		height: 56px,
		total-width: 582px,
		total-height: 499px,
		image: '../img/sprite.png'
	),
	time: (
		offset-x: -566px,
		offset-y: -401px,
		width: 15px,
		height: 15px,
		total-width: 582px,
		total-height: 499px,
		image: '../img/sprite.png'
	),
);


@mixin sprite-size($image) {
	background-size: map-get(map-get($sprite, $image), 'total-width') map-get(map-get($sprite, $image), 'total-height');
}

@mixin sprite-width($image) {
	width: map-get(map-get($sprite, $image), 'width');
}

@mixin sprite-height($image) {
	height: map-get(map-get($sprite, $image), 'height');
}

@mixin sprite-position($image) {
	background-position: map-get(map-get($sprite, $image), 'offset-x') map-get(map-get($sprite, $image), 'offset-y');
}

@mixin sprite-image($image) {
	background-image: url(map-get(map-get($sprite, $image), 'image'));
}

@mixin sprite-image-retina($image) {
	$image-path: map-get(map-get($sprite, $image), 'image');
	$image-path-retina: str-slice($image-path, 1, str-index($image-path, '.png') - 1) + '@2x.png';

	background-image: url($image-path-retina);
}

@mixin sprite($image, $size: true) {
	@include sprite-image($image);
	@include sprite-position($image);
	background-repeat: no-repeat;

	@if $size {
		@include sprite-width($image);
		@include sprite-height($image);
	}

	@media
		only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (   min--moz-device-pixel-ratio: 2),
		only screen and (     -o-min-device-pixel-ratio: 2/1),
		only screen and (        min-device-pixel-ratio: 2),
		only screen and (                min-resolution: 192dpi),
		only screen and (                min-resolution: 2dppx) {

		@include sprite-size($image);
		@include sprite-image-retina($image);

	}
}



	.icon-brand-aion {
		@include sprite(brand-aion)
	}
	.icon-brand-coincart {
		@include sprite(brand-coincart)
	}
	.icon-brand-dropbox {
		@include sprite(brand-dropbox)
	}
	.icon-brand-factom {
		@include sprite(brand-factom)
	}
	.icon-brand-icon {
		@include sprite(brand-icon)
	}
	.icon-brand-paypal {
		@include sprite(brand-paypal)
	}
	.icon-brand-quantstamp {
		@include sprite(brand-quantstamp)
	}
	.icon-brand-slack {
		@include sprite(brand-slack)
	}
	.icon-brand-stripe {
		@include sprite(brand-stripe)
	}
	.icon-brand-visa {
		@include sprite(brand-visa)
	}
	.icon-checkmark {
		@include sprite(checkmark)
	}
	.icon-cosound-token {
		@include sprite(cosound-token)
	}
	.icon-emodji {
		@include sprite(emodji)
	}
	.icon-fullscreen {
		@include sprite(fullscreen)
	}
	.icon-itoCardDiscount {
		@include sprite(itoCardDiscount)
	}
	.icon-itoCardGlobe {
		@include sprite(itoCardGlobe)
	}
	.icon-itoHandle {
		@include sprite(itoHandle)
	}
	.icon-list-check {
		@include sprite(list-check)
	}
	.icon-no-services {
		@include sprite(no-services)
	}
	.icon-paperclip {
		@include sprite(paperclip)
	}
	.icon-pay-amex {
		@include sprite(pay-amex)
	}
	.icon-pay-discover {
		@include sprite(pay-discover)
	}
	.icon-pay-jcb {
		@include sprite(pay-jcb)
	}
	.icon-pay-maestro-old {
		@include sprite(pay-maestro-old)
	}
	.icon-pay-mastercard-old {
		@include sprite(pay-mastercard-old)
	}
	.icon-pay-paypal {
		@include sprite(pay-paypal)
	}
	.icon-pay-visa {
		@include sprite(pay-visa)
	}
	.icon-profile-communication {
		@include sprite(profile-communication)
	}
	.icon-profile-gears {
		@include sprite(profile-gears)
	}
	.icon-profile-history {
		@include sprite(profile-history)
	}
	.icon-profile-privacy {
		@include sprite(profile-privacy)
	}
	.icon-profile-services {
		@include sprite(profile-services)
	}
	.icon-profile-support {
		@include sprite(profile-support)
	}
	.icon-signup-check {
		@include sprite(signup-check)
	}
	.icon-signup-type-band {
		@include sprite(signup-type-band)
	}
	.icon-signup-type-musician {
		@include sprite(signup-type-musician)
	}
	.icon-signup-type-pro {
		@include sprite(signup-type-pro)
	}
	.icon-soundbar {
		@include sprite(soundbar)
	}
	.icon-star-blank {
		@include sprite(star-blank)
	}
	.icon-star-fill {
		@include sprite(star-fill)
	}
	.icon-suggestions-search {
		@include sprite(suggestions-search)
	}
	.icon-time {
		@include sprite(time)
	}
