.ico-arrow-next {
  width: 1.29em;
  height: 1em;
  fill: #FFF;
}
.ico-camera {
  width: 1.39em;
  height: 1em;
  fill: #262626;
}
.ico-card-add {
  width: 1em;
  height: 1em;
  fill: none;
}
.ico-cart {
  width: 0.96em;
  height: 1em;
  fill: #FFF;
}
.ico-case {
  width: 1.1em;
  height: 1em;
  fill: #FFF;
}
.ico-check {
  width: 1.44em;
  height: 1em;
  fill: #FFF;
}
.ico-comment {
  width: 1.17em;
  height: 1em;
  fill: #8E8E8E;
}
.ico-comments {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.ico-fullscreen {
  width: 1em;
  height: 1em;
  fill: #262626;
}
.ico-images {
  width: 1.14em;
  height: 1em;
  fill: #2ABEA7;
}
.ico-like {
  width: 1.17em;
  height: 1em;
  fill: #8E8E8E;
}
.ico-logo {
  width: 5.28em;
  height: 1em;
  fill: none;
}
.ico-more {
  width: 5em;
  height: 1em;
  fill: #262626;
}
.ico-music {
  width: 0.88em;
  height: 1em;
  fill: #8C5BCC;
}
.ico-notifications {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.ico-play {
  width: 0.78em;
  height: 1em;
  fill: #8E5ACD;
}
.ico-plus {
  width: 1em;
  height: 1em;
  fill: #262626;
}
.ico-profile {
  width: 0.9em;
  height: 1em;
  fill: #FFF;
}
.ico-repost {
  width: 1.55em;
  height: 1em;
  fill: #8E8E8E;
}
.ico-search {
  width: 1em;
  height: 1em;
  fill: #262626;
}
.ico-select-down {
  width: 1.71em;
  height: 1em;
  fill: #319B9D;
}
.ico-share {
  width: 1.5em;
  height: 1em;
  fill: #8E8E8E;
}
.ico-social-fb {
  width: 0.53em;
  height: 1em;
  fill: #FFF;
}
.ico-social-gplus {
  width: 1.13em;
  height: 1em;
  fill: #EA4336;
}
.ico-social-insta {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.ico-social-soundcloud {
  width: 2.27em;
  height: 1em;
  fill: #FFF;
}
.ico-social-tw {
  width: 1.25em;
  height: 1em;
  fill: #1CA1F3;
}
.ico-soundbar {
  width: 1.27em;
  height: 1em;
  fill: url(#a);
}
.ico-stop {
  width: 0.65em;
  height: 1em;
  fill: #FFF;
}
.ico-video {
  width: 1.67em;
  height: 1em;
  fill: #3B93BB;
}
