.ico-logo {
  width: 5.28em;
  height: 1em;
  fill: none;
}
.ico-play {
  width: 0.78em;
  height: 1em;
  fill: #8E5ACD;
}
.ico-social-fb {
  width: 0.53em;
  height: 1em;
  fill: #FFF;
}
.ico-social-insta {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.ico-social-soundcloud {
  width: 2.27em;
  height: 1em;
  fill: #FFF;
}
