$sprite: (
	checkmark: (
		offset-x: -69px,
		offset-y: -112px,
		width: 10px,
		height: 8px,
		total-width: 125px,
		total-height: 148px,
		image: '../img/sprite.png'
	),
	fullscreen: (
		offset-x: -98px,
		offset-y: -66px,
		width: 14px,
		height: 14px,
		total-width: 125px,
		total-height: 148px,
		image: '../img/sprite.png'
	),
	signup-check: (
		offset-x: -69px,
		offset-y: -91px,
		width: 15px,
		height: 11px,
		total-width: 125px,
		total-height: 148px,
		image: '../img/sprite.png'
	),
	signup-type-musician: (
		offset-x: 0px,
		offset-y: -73px,
		width: 49px,
		height: 75px,
		total-width: 125px,
		total-height: 148px,
		image: '../img/sprite.png'
	),
	signup-type-pro: (
		offset-x: 0px,
		offset-y: 0px,
		width: 59px,
		height: 63px,
		total-width: 125px,
		total-height: 148px,
		image: '../img/sprite.png'
	),
	soundbar: (
		offset-x: -69px,
		offset-y: -66px,
		width: 19px,
		height: 15px,
		total-width: 125px,
		total-height: 148px,
		image: '../img/sprite.png'
	),
	star-blank: (
		offset-x: -94px,
		offset-y: -91px,
		width: 10px,
		height: 10px,
		total-width: 125px,
		total-height: 148px,
		image: '../img/sprite.png'
	),
	star-fill: (
		offset-x: -114px,
		offset-y: -91px,
		width: 10px,
		height: 10px,
		total-width: 125px,
		total-height: 148px,
		image: '../img/sprite.png'
	),
	suggestions-search: (
		offset-x: -69px,
		offset-y: 0px,
		width: 56px,
		height: 56px,
		total-width: 125px,
		total-height: 148px,
		image: '../img/sprite.png'
	),
);


@mixin sprite-size($image) {
	background-size: map-get(map-get($sprite, $image), 'total-width') map-get(map-get($sprite, $image), 'total-height');
}

@mixin sprite-width($image) {
	width: map-get(map-get($sprite, $image), 'width');
}

@mixin sprite-height($image) {
	height: map-get(map-get($sprite, $image), 'height');
}

@mixin sprite-position($image) {
	background-position: map-get(map-get($sprite, $image), 'offset-x') map-get(map-get($sprite, $image), 'offset-y');
}

@mixin sprite-image($image) {
	background-image: url(map-get(map-get($sprite, $image), 'image'));
}

@mixin sprite-image-retina($image) {
	$image-path: map-get(map-get($sprite, $image), 'image');
	$image-path-retina: str-slice($image-path, 1, str-index($image-path, '.png') - 1) + '@2x.png';

	background-image: url($image-path-retina);
}

@mixin sprite($image, $size: true) {
	@include sprite-image($image);
	@include sprite-position($image);
	background-repeat: no-repeat;

	@if $size {
		@include sprite-width($image);
		@include sprite-height($image);
	}

	@media
		only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (   min--moz-device-pixel-ratio: 2),
		only screen and (     -o-min-device-pixel-ratio: 2/1),
		only screen and (        min-device-pixel-ratio: 2),
		only screen and (                min-resolution: 192dpi),
		only screen and (                min-resolution: 2dppx) {

		@include sprite-size($image);
		@include sprite-image-retina($image);

	}
}



	.icon-checkmark {
		@include sprite(checkmark)
	}
	.icon-fullscreen {
		@include sprite(fullscreen)
	}
	.icon-signup-check {
		@include sprite(signup-check)
	}
	.icon-signup-type-musician {
		@include sprite(signup-type-musician)
	}
	.icon-signup-type-pro {
		@include sprite(signup-type-pro)
	}
	.icon-soundbar {
		@include sprite(soundbar)
	}
	.icon-star-blank {
		@include sprite(star-blank)
	}
	.icon-star-fill {
		@include sprite(star-fill)
	}
	.icon-suggestions-search {
		@include sprite(suggestions-search)
	}
